version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: KB220166
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always

  odoo:
    build: .
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: odoo
      DB_PASSWORD: KB220166
    volumes:
      - ./kal3iya:/mnt/extra-addons/kal3iya
      - ./config:/etc/odoo
      - ./data:/var/lib/odoo
    restart: always