<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top Level Menu (If generic Purchase module usually exists, we might need a parent. 
         But since this is custom, we'll create a Root or attach to existing Purchase? 
         User didn't specify, but "New Purchase Module" suggests a new root or Main Menu item.) -->
    
    <menuitem id="menu_achat_root"
              name="Achat"
              web_icon="achat,static/description/icon.png"
              sequence="10"/>

    <menuitem id="menu_achat_dossiers"
              name="Dossiers"
              parent="menu_achat_root"
              action="action_purchase_entry"
              sequence="1"/>

    <menuitem id="menu_achat_contracts"
              name="Contrats"
              parent="menu_achat_root"
              action="action_achat_contract"
              groups="achat.group_purchase_manager,achat.group_purchase_admin"
              sequence="5"/>

    <!-- Data Menu (Moved from Logistique) -->
    <menuitem id="menu_achat_data"
              name="Données"
              parent="menu_achat_root"
              sequence="100"/>

    <menuitem id="menu_achat_ste"
              name="Sociétés"
              parent="menu_achat_data"
              action="logistique.action_logistique_ste"
              sequence="10"/>

    <menuitem id="menu_achat_supplier"
              name="Suppliers"
              parent="menu_achat_data"
              action="logistique.action_logistique_supplier"
              sequence="20"/>

    <menuitem id="menu_achat_article"
              name="Articles"
              parent="menu_achat_data"
              action="achat.action_achat_article"
              sequence="30"/>

    <menuitem id="menu_achat_shipping"
              name="Shipping Companies"
              parent="menu_achat_data"
              action="logistique.action_logistique_shipping"
              sequence="40"/>

    <menuitem id="menu_achat_origin"
              name="Origins"
              parent="menu_achat_data"
              action="action_achat_origin"
              sequence="50"/>

     <menuitem id="menu_achat_prices"
          name="Supplier Prices"
          parent="menu_achat_root"
          action="action_achat_article_price"
          sequence="20"/>

     <menuitem id="menu_achat_reclamations"
          name="Réclamations"
          parent="menu_achat_root"
          sequence="30"/>

     <menuitem id="menu_achat_reclamation_dhl"
          name="Réclamation DHL"
          parent="menu_achat_reclamations"
          action="action_achat_reclamation_dhl"/>

</odoo>
