<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_portnet_root"
              name="Portnet"
              sequence="15"/>

    <!-- Main Entries Menu -->
    <menuitem id="menu_portnet_entries"
              name="Entrées Portnet"
              parent="menu_portnet_root"
              action="action_portnet_entry"
              sequence="1"/>
</odoo>
